body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

span .error {
    color:red;
}

.navbar {
    background-color: #004d40;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    padding: 20px;
    width: 400px;
    margin: 50px auto;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #005e1c;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/*footer*/
footer {
  background-color: #222;
  color: #fff;
  padding: 40px;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


.form h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
    color: #004d40;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #004d40;
}

.input-group input {
    width: 380px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    box-shadow: 0px 0px 5px #ccc;
}

button[type="submit"] {
    background-color: #004d40;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #009688;
}

.signup {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #004d40;
}

.signup a {
    color: #009688;
    text-decoration: none;
}

.pImage img{
    max-width: 30%;
    height: 30%;
    background: lightblue;
    background: radial-gradient(white 30%, lightblue 70%);
}

.fa-star,
.fa-star-half{
    color: yellowgreen;
    padding:3%0;
}



#cart_count{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}

.shopping-cart{
    padding: 3% 0;
}

.cart-items + .cart-items{
    padding: 2% 0;
}

.price-details h6{
    padding: 3% 2%;
}

/*home page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-around;
}
.col-2{
    flex-basis:50%;
    min-width:300px;
}
.col-2 img{
    max-width:200%;
    padding:50px 0;
}
.col-2 h1{
    font-size:50px;
    line-height:60px;
    margin:25px 0;
}
.btn{
    display:inline-block;
    background-color:#004d40;
    color:#fff;
    padding:8px 30px;
    margin:30px 0;
    border-radius:30px;
    transition: background 0.5s;
}
.btn:hover{
    background:#000504;
}
.header{
    background:radial-gradient(#fff,#d4faf3);
}
.header .row{
    margin-top:70px;
}
.categories{
    margin:70px 0;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis:25%;
    padding:10px;
    min-width:200px;
    margin-bottom:50px;
    transition:transform 0.5s;
}
.col-4 img{
    width:100%;
}
.title{
    text-align:center;
    margin:0 auto 80px;
    position:relative;
    line-height:60px;
    color:#004d40;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px; height: 5px;
    border-radius: 5px; position: absolute;
    bottom: 0;
    left: 50%;
    transform: transláteX(-50%);
}
h4{
    color:#555;
    font-weight:normal;
}
.col-4 p{
    font-size:14px;
}
.rating .fa{
    color: #004d40;
}
.col-4:hover{
    transform: translateY(-5px);
}
.brands{
    margin:100px auto;
}
.col-5{
    width:160px;
}
.col-5 img{
    width:100%;
    cursor:pointer;
    filter:grayscale(100%);
}
.col-5 img:hover{
    filter:grayscale(0);
}

            .product{
              display:flex;
              width:90%;
              margin:auto;
              flex-direction:row;
            }

            .product-image img{
              max-width: "400px";
              height:auto;
              border:solid 1px black;
            }

            .procut div{
              flex-grow:1;
            }

.FeaturedProduct{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 34px;
    text-decoration: underline;
    padding: 10px;
    background-color: #555;
    border-radius: 25px;
    margin-top:25px;
    color:white;
}
.imageclass{
    padding:15px;
}

#pImage2{
    object-fit: contain;
    height: 250px;
    width:250px;
    
}
